.hidden{
    display: none;
}
a {
    text-decoration: none;
  }
  li {
    list-style-type: none;
  }
  body {
    background-color: white;
    color: #434455;
    font-family: Roboto, sans-serif;
  }
  h1, h2, h3, h4, h5, h6{
    margin: 0;
  }
  p{
    margin: 0;
  }
  img{
    display: block;
    max-width: 100%;
    height: auto;
  }
  ul, ol{
    margin: 0;
    padding: 0;
  }
  input {
      font-family: inherit;
  }
  button{
    cursor: pointer;
  }
  .visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;  
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*common*/
.container{
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}
@media screen and (min-width: 768px) {
    .container{
        max-width: 768px;
    }
}
@media screen and (min-width: 1158px) {
    .container{
        max-width: 1158px;
        padding: 0 15px;
    }
}

/*header*/
.page-header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-ul,
.add{
    display: none;
}
.header-logo{
    display: block;
    padding: 16px 0;
}
.title-one{
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.title-two{
    color: #2e2f42;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.menu-button{
    display: block;
    padding: 0;
    border: none;
    background-color: transparent;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .menu-button{
        display: none;
    }
    .header-logo{
        padding: 24px 0;
        margin-right: 120px;
    }
    .nav-ul{
        display: flex;
        align-items: center;
        gap: 40px;
    }
    .add{
        display: block;
        font-style: normal;
    }
    .head-nav{
        display: flex;
        align-items: center;
    }
    .header-logo{
    display: block;
    padding: 16px 0;
    }
    .nav-link{
        color: #2e2f42;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .nav-link:hover,
    .nav-link:focus,
    .nav-link.current{
        color: #404bbf;
    }
    
    .nav-link.current{
        position: relative;
    }
    .nav-link.current::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: #404BBF;
        border-radius: 2px;
        left: 0;
        bottom: -1px;
    }
    .add-ul{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .add-link{
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        font-style: normal;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .add-link:hover,
    .add-link:focus{
    color: #404bbf;
    }
}
@media screen and (min-width: 1158px){
    .header-logo{
        margin-right: 76px;
    }
    .add-ul{
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }
    .add-link{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    }
}

/*mobile menu*/
.mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modile-menu-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    padding-right: 16px;
}
.menu-mobile-button{
    position: absolute;
    display: flex; 
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    padding: 0;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgb(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-mobile-button:hover,
.menu-mobile-button:focus{
    background-color: #404bbf;
    border: none;
}
.svg-close{
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-mobile-button:hover .svg-close,
.menu-mobile-button:focus .svg-close{
    fill: #fff;
}
.menu-ul{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
    margin-bottom: auto;
}
.menu-link{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link:hover,
.menu-link:focus{
    color: #404bbf;
}
.menu-add-ul{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
}
.menu-add-link{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-add-link:hover,
.menu-add-link:focus{
    color: #4d5ae5;
}
.menu-icons-ul{
    display: flex;
    gap: 40px;
    margin: 0;
    list-style-type: none;
    justify-content: center;
    margin-top: 48px;
}
.menu-icons-a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    text-decoration: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}
.menu-svg{
    fill: #ffffff;
}
.menu-icons-a:hover,
.menu-icons-a:focus{
    background-color: #404BBF;
}
@media screen and (min-width: 768px){
    .mobile-menu{
        display: none;
    }
}

/*section one*/
.sec-one{
    background-color: #2E2F42;
    padding: 72px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-header-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    height: 432px;
    background-position: center;
}
@media screen and (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx),
(min-resolution: 192dpi){
    .sec-one{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/2xbg-header-mobile.jpg);
    }
}
.sec-one-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 216px;
    margin-bottom: 72px;
}
.title-button{
    font-family: "Roboto", sans-serif;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    margin: 0 auto;
    display:block;
    border: none;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.title-button:hover,
.title-button:focus{
    background-color: #404BBF;
}

@media screen and (min-width: 768px){
    .sec-one{
        padding: 112px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-header-tab.jpg);
        height: 436px;
    }
    .sec-one-title{
        font-size: 56px;
        max-width: 496px;
        margin-bottom: 36px;
    }
    @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi){
    .sec-one{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/2xbg-header-tab.jpg);
    }
}
}

@media screen and (min-width: 1158px){
    .sec-one{
        padding: 188px 0 188px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-header.jpg);
        height: 600px;
        max-width: 1440px;
    }
    .sec-one-title{
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin-bottom: 48px;
    }
    @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi){
    .sec-one{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/2xbg-header.jpg);
    }
}
}

/*section two*/
.sec-two-icons{
    display: none;
}
.sec-two{
    padding: 96px 0;
}
.sec-two-ul{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 72px;
}
.sec-two-il{
    max-width: 288px;
}
.sec-two-title{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}
.sec-two-text{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
@media screen and (min-width: 768px){
    .sec-two-ul{
        gap: 72px 24px;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .sec-two-il{
        width: calc((100% - 24px) / 2);
        max-width: 356px;
    }
    .sec-two-title{
        text-align: left;
    }
}
@media screen and (min-width: 1158px){
    .sec-two{
        padding: 120px 0 120px;
    }
    .sec-two-icons{
        display: flex;
        align-items: center; 
        justify-content: center;
        background-color:  #f4f4fd;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        height: 112px;
        margin-bottom: 8px;
    }
    .sec-two-ul{
        gap: 24px;
    }
    .sec-two-il{
        width: calc((100% - 72px) / 4);
        flex-direction: row;
        flex-wrap: wrap;
        width: 264px;
        height: 224px;
    }
    .sec-two-title{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 8px;
    }
    .sec-two-text{
        font-weight: 400;
        color: #434455;
    }
}

/*section three*/
.sec-three{
    background: #f4f4fd;
    padding: 96px 0;
}
.sec-three-title{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}
.sec-three-ul{
    display: block;
    margin: 0 auto;
    max-width: 264px;
}
.sec-three-li{
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    margin-bottom: 72px;
    width: 264px;  
}
.sec-three-li img {
    width: 264px;
    height: 260px;
    object-fit: cover;
}
.sec-three-content{
    padding: 32px;
}
.sec-three-text{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}
.sec-three-desc{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}
.sec-three-icons-ul{
    display: flex;
    gap: 24px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0;
    list-style-type: none;
    margin-top: 8px;
    justify-content: center;
}
.sec-three-svg{
    fill:  #f4f4fd;
}
.icons-a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    text-decoration: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cons-li{
    width: 40px;
    height: 40px;
}
.icons-a:hover,
.icons-a:focus{
    background-color: #404BBF;
}

@media screen and (min-width: 768px){
    .sec-three-ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 64px 24px;
        max-width: 552px;
    }
    .sec-three-li{
        width: calc((100% - 24px) / 2); 
    }
}
@media screen and (min-width: 1158px){
    .sec-three-ul{
        display: flex;
        gap: 24px;
        flex-wrap: nowrap;
        max-width: 100%;
        justify-content: flex-start;
    }
    .sec-three-li{
        max-width: 264px;
    }
}

/*section four*/
.sec-four{
    padding: 96px 0;
}
.sec-four-ul{
    display: block;
    margin: 0 auto;
}
.sec-four-li{
    width: 288px;
    cursor: pointer;
    position: relative;
    max-height: 400px;
    margin-bottom: 48px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sec-four-li img {
    width: 288px;
    height: 280px;
    object-fit: cover;
}
.sec-four-li:hover{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
}
.sec-four-li:hover .text,
.sec-four-li:focus .text{
    transform: translateY(0%);
}
.overlay-content{
    position: relative;
    overflow: hidden;
}
.overlay-content:hover .text,
.overlay-content:focus .text{
    transform: translateY(0%); 
}
.text {
    position: absolute;
    top: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px; 
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%); 
}
.sec-four-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px; 
    margin-left: auto;
    margin-right: auto;
}
.sec-four-content{
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
}
.sec-four-text{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.sec-four-desc{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px){
    .sec-four-ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }
    .sec-four-li{
        width: calc((100% - 24px) / 2); 
        max-height: 420px;
    }
    .sec-four-li img {
        width: 356px;
        height: 300px;
        object-fit: cover;
    }
}
@media screen and (min-width: 1158px){
    .sec-four{
        padding: 120px 0 120px 0;
    }
    .sec-four-ul{
        display: flex;
        gap: 48px 24px;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .sec-four-li{
        width: calc((100% - 48px) / 3);
        max-height: 420px;
    }
    .sec-four-li img {
        width: 360px;
        height: 300px;
        object-fit: cover;
    }
}

/*section five*/
.sec-five{
    background-color: #2e2f42;
    padding: 96px 0;
}
.logo-section,
.contacts-footer,
.footer-form{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0 auto;
}
.title-three{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase;
    margin-bottom: 16px;
    display: inline-block;
}
.title-four{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #f4f4fd;
    text-transform: uppercase;
}
.sec-five-text{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 288px;
    margin-bottom: 72px;
}
.footer-title{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px; 
}
.sec-five-icons-ul{
    display: flex;
    gap: 16px;
    margin: 0;
    list-style-type: none;
    flex-direction: row;
    margin-bottom: 72px;
}
.icons-footer{
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icons-footer:hover,
.icons-footer:focus{
    background-color:#31d0aa;;
}
.data-subscribe{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}
.data-input{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-input{
    display: flex;
    border: 1px solid #ffffff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    background-color: transparent;
    color: #ffffff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    opacity: 0.3; 
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    margin-bottom: 16px;
}
.form-input::placeholder{
    color: #ffffff; 
    opacity: 0.6;
}
.data-button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px; 
    height: 40px;
    background: #4d5ae5;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.data-button:hover,
.data-button:focus{
    background-color: #404bbf;
}
.footer-data-svg{
    margin-left: 16px;
}
@media screen and (min-width: 768px){
    .logo-contacts {
        display: flex;
        align-items: baseline;
        margin-bottom: 72px;
        margin-right: auto;
        margin-left: auto;
        gap: 24px;
        max-width: 496px;
        height: 112px;
    }
    .logo-section{
        align-items: flex-start;
        width: 264px;
    }
    .contacts-footer{
        align-items: flex-start; 
    }
    .footer-form{
        align-items: flex-start;
        margin: 0 auto;
        width: 496px;
    }
    .data-subscribe {
        text-align: left;
        margin-bottom: 16px; 
    }
    .form-input{
        width: 264px;
    }
    .data-input {
        display: flex;
        flex-direction: row;
        gap: 24px; 
    }
    .data-button{
        align-self: baseline;
    }
}
@media screen and (min-width: 1158px){
    .sec-five{
        padding: 100px 0 100px;
    }
    .sec-five-container{
        max-width: 1158px;
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
    }
    .logo-contacts {
        margin-bottom: 0;
        max-width: 100%;
    }
    .logo-section {
        display: flex;
        flex-direction: column;
        margin-right: 120px;
    }
    .contacts-footer{
        display: flex;
        flex-direction: column;
        margin-right: 80px;
    }
    .sec-five-icons-ul{
        display: flex;
        gap: 16px;
        margin: 0;
        list-style-type: none;
    }
    .data-input{
        display: flex;
        flex-direction: row;
        gap: 24px;
        align-items: center;
    }
}

/*modal*/
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    width: 288px;
    min-height: 623px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}
.modal-button{
    display: flex; 
    width: 24px;
    height: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgb(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-close{
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover,
.modal-button:focus{
    background-color: #404bbf;
    border: none;
}
.modal-button:hover .svg-close,
.modal-button:focus .svg-close{
    fill: #fff;
}
.modal-p{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
}
.modal-name{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}
.div-name{
    margin-bottom: 8px;
}
.div-input{
    display: flex;
    position: relative;
}
.svg-person{
    position: absolute;
    top: 50%; 
    left: 16px;
    fill: #2e2f42;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input{
    display: block;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
}
.modal-input:hover,
.modal-input:focus{
    border-color: #4d5ae5;
}

.modal-input:hover + .svg-person,
.modal-input:focus + .svg-person{
    fill: #4d5ae5;
}

.modal-input:hover + .svg-phone,
.modal-input:focus + .svg-phone{
    fill: #4d5ae5;
}

.modal-input:hover + .svg-email,
.modal-input:focus + .svg-email{
    fill: #4d5ae5;
}

.div-comment{
    margin-top: 8px;
    margin-bottom: 16px;
}
.modal-comment{
    resize: none;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
}
.modal-comment:hover,
.modal-comment:focus{
    border-color: #4d5ae5;
}
.form-checkbox{
    cursor: pointer;
    opacity: 0;
    position: absolute;
}
.checkbox-label{
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    cursor: pointer;
}
.checkbox-span{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-input{
    align-items: center;
    margin-bottom: 24px;
}
.checkbox-a{
    line-height: 1.3;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
    gap: 8px;
    margin-left: 4px;
}
.svg-checked{
    position: absolute;
    width: 10px;
    height: 10px;
    pointer-events: none;
    fill: #fcfcfc;
    opacity: 0;
}
.checkbox-input input:checked + .checkbox-label .checkbox-span,
.checkbox-input input:checked + .checkbox-label .svg-checked{
    background-color: #404bbf;
    border: none;
    fill:#F4F4FD;
    opacity: 1;
}
.form-button{
    display: block;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border: none;
    margin: 0 auto;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-button:hover,
.form-button:focus{
    background-color: #404bbf;
}

@media screen and (min-width: 768px){
    .modal{
        width: 408px;
        height: 584px;
    }
}